@import 'tailwindcss';
@import '@nuxt/ui';

/* 引入字体 */
@font-face {
  font-style: normal;
  font-family: 'FZHanZhenGuangBiao';
  font-weight: 400;
  src: url('~/assets/fonts/FZHanZhenGuangBiao.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'ZKKuaiLeTi';
  src: url('~/assets/fonts/ZKKuaiLeTi.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-family: 'PingFangSC';
  font-weight: 400;
  src: url('~/assets/fonts/PingFangSC.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-family: 'QuicksandBold';
  font-weight: 400;
  src: url('~/assets/fonts/Quicksand-Bold.woff2') format('woff2');
  font-display: swap;
}

/* 所有滚动条样式 */
*::-webkit-scrollbar {
  width: 3px;
}
*::-webkit-scrollbar-thumb {
  background-color: #234567;
  border-radius: 3px;
}

/** 自定义变量 */
@theme {
  --font-FZHanZhenGuangBiao: 'FZHanZhenGuangBiao', sans-serif;
  --font-PingFangSC: 'PingFangSC', sans-serif;
  --font-QuicksandBold: 'QuicksandBold', sans-serif;
  --font-ZKKuaiLeTi: 'ZKKuaiLeTi', sans-serif;
}
